@font-face {
    font-family: lotr;
    src: url(lotr-font.ttf);
}

.main{
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

.container{
    width: 100vw;
    height: 100vh;
  }

.textContainer{
    width: 100vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainText{
    margin: auto;
    display: flex;
    flex-direction: row;
    color: gold;
    font-family: lotr;
    font-size: 44px;
    text-shadow: 3px 3px 3px #002823, -1px 0 3px #002823;
}

.the1{
    font-size: 20px;
    position: relative;
    left: 80px;
    top: 5px;
}

.l{
    font-size: 100px;
}

.o{
    font-size: 48px;
    position: relative;
    top: 30px;
    left: -15px;
}

.ord{
    position: relative;
    top: 30px;
    left: -15px;
}

.ofthe {
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 0.95em;
    font-size: 16px;
    position: relative;
    left: -14px;
    top: 36px
  }

.r{
    position: relative;
    top: 18px;
    left: -20px;
    font-size: 64px;
}

.ing{
    position: relative;
    top: 25px;
    left: -15px;
    font-size: 48px;
}

.s{
    position: relative;
    left: -10px;
    font-size: 80px;
    top: 20px;
}

.subMainText{
    position: relative;
    letter-spacing: 0.7ch;
    margin: auto;
    left: 25px;
    top: -42px;;
}

.subMainText h2{
    font-size: 16px;
    color: gold;
    font-family: lotr;
}

.startButton{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 217, 0, 0.288);
    border-radius: 36px;
    border: 4px solid rgb(161, 137, 1);
    font-family: lotr;
    letter-spacing: 0.3ch;
    font-size: 30px;
}

.startButton:hover{
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.425);
    border: 4px solid rgb(224, 192, 5);
    transition: all ease-in-out 0.2s;
}

