
  .cardContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .card {
    margin: 10px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    width: 280px;
    height: 300px;
    perspective: 1000px;
    visibility: visible;
  }

  .cardInvisible{
    margin: 10px auto 0;
    width: 280px;
    height: 300px;
    visibility: hidden;
  }
  
  .cardinner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .cardinner.isflipped {
    transform: rotateY(180deg);
  }
  
  
  .cardface {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cardfacefront {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardfacefront h2 {
    color: #FFF;
    font-size: 24px;
  }
  
  .cardfaceback {
    background-color: var(--light);
    transform: rotateY(180deg);
  }

  .cardfacetext{
    position: absolute;
    top: 49%;
  }

  .cardfacetext h2 {
    font-size: 20px;
  }
  
  .cardcontent {
    width: 100%;
    height: 100%;
  }
  
  .cardheader {
    position: relative;
    padding: 15px 15px 20px;
  }
  
  .cardheader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .gandalf {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }

  .main{
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .ring {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .cardheader h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  
  .cardbody {
    padding: 15px;
    text-align: justify;
  }
  
  .cardbody h3 {
    color: var(--dark);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  
  .cardbody p {
    color: var(--dark);
    font-size: 10px;
    line-height: 1.2;
  }